h1 {
    font-size: 300px;
    line-height: 3; 
    text-align: center; 
}
h3 { 
    color: #111;
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; 
    font-weight: 300;
    line-height: 32px; 
    margin: 0 0 72px; 
    text-align: center; 
    background-color: rgb(32, 238, 228);
}

#td_cost:hover {
    background-color: #0a20e9;
    color: white;
}
