html {
    width: 65%;
    padding: 20px;
    box-shadow: 3px 3px 7px;
    margin: 30px;
}

h1 {
    color : red;
}

em {
    margin: 10px;
    padding: 4px;
    font-size: 2em;
}

#arial {
    font-family: Arial;
}

.description {
    font-size: 1.4em;
    display: block;
    margin: 5px 0px;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-top: 2px solid rgb(0, 0, 0);
}

#black_color {
    color: black;
    font-weight: 900;
}

